<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ProofBasedJustificationService"
         point="not.org.saa.protege.explanation.joint.JustificationService">
      <name
            value="Proof Based Justification Service">
      </name>
      <class
            value="not.org.saa.protege.justifications.ProofBasedJustificationService">
      </class>
   </extension>

</plugin>
